.footer {
  text-align: center;
  background-color: #fff;
  padding-top: 115px;
  padding-bottom: 123px;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__btn {
    width: 180px;
    height: 42px;
    background-color: $primary-color;
    border: none;
    outline: none;

    color: #fff;
    border-radius: 21px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }

  &__links {
    margin-top: 86px;
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    padding: 0;
  }

  &__item {
    list-style: none;
  }

  &__follow {
    color: $secondary-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}