.header {
  position: absolute;
  width: 100%;
  padding-top: 33px;

  .navbar-line {
    background-color: $secondary-color;
    width: 100%;
    height: 1px;
    margin-top: 32px;
  }

  .nav-link {
    color: $secondary-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
  }

  .nav-link:hover {
    color: $primary-color;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}