.home {
  padding-top: 160px;
  padding-bottom: 104px;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 48px;
    line-height: 59px;
    text-transform: capitalize;
    font-weight: bold;
  }

  &__describe {
    font-size: 18px;
    line-height: 22px;
  }

  &__lang {
    color: $secondary-color;
    font-size: 16px;
    transform: rotate(-90deg);
    align-self: center;
    font-weight: bold;
    span {
      color: $primary-color;
    }
  }
}